# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# =========================
# Build / Packaging
# =========================
build/
dist/
#*.spec

# PyInstaller cache
*.manifest
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
.Pointer_study/
*.bak

# =========================
# Executables
# =========================
*.exe
*.so
/Pointer_study


# =========================
# Vendor Files
# =========================
vendor/tesseract/doc/AUTHORS
vendor/tesseract/doc/LICENSE
vendor/tesseract/doc/README.md
vendor/tesseract/tessdata/configs/alto
vendor/tesseract/tessdata/configs/ambigs.train
vendor/tesseract/tessdata/configs/api_config
vendor/tesseract/tessdata/configs/bigram
vendor/tesseract/tessdata/configs/box.train
vendor/tesseract/tessdata/configs/box.train.stderr
vendor/tesseract/tessdata/configs/digits
vendor/tesseract/tessdata/configs/get.images
vendor/tesseract/tessdata/configs/hocr
vendor/tesseract/tessdata/configs/inter
vendor/tesseract/tessdata/configs/kannada
vendor/tesseract/tessdata/configs/linebox
vendor/tesseract/tessdata/configs/logfile
vendor/tesseract/tessdata/configs/lstm.train
vendor/tesseract/tessdata/configs/lstmbox
vendor/tesseract/tessdata/configs/lstmdebug
vendor/tesseract/tessdata/configs/makebox
vendor/tesseract/tessdata/configs/page
vendor/tesseract/tessdata/configs/pdf
vendor/tesseract/tessdata/configs/quiet
vendor/tesseract/tessdata/configs/rebox
vendor/tesseract/tessdata/configs/strokewidth
vendor/tesseract/tessdata/configs/tsv
vendor/tesseract/tessdata/configs/txt
vendor/tesseract/tessdata/configs/unlv
vendor/tesseract/tessdata/configs/wordstrbox
vendor/tesseract/tessdata/tessconfigs/batch
vendor/tesseract/tessdata/tessconfigs/batch.nochop
vendor/tesseract/tessdata/tessconfigs/matdemo
vendor/tesseract/tessdata/tessconfigs/msdemo
vendor/tesseract/tessdata/tessconfigs/nobatch
vendor/tesseract/tessdata/tessconfigs/segdemo

vendor/tesseract/libarchive-13.dll
vendor/tesseract/libb2-1.dll
vendor/tesseract/libbrotlicommon.dll
vendor/tesseract/libbrotlidec.dll
vendor/tesseract/libbz2-1.dll
vendor/tesseract/libcairo-2.dll
vendor/tesseract/libcrypto-3-x64.dll
vendor/tesseract/libcurl-4.dll
vendor/tesseract/libdatrie-1.dll
vendor/tesseract/libdeflate.dll
vendor/tesseract/libexpat-1.dll
vendor/tesseract/libffi-8.dll
vendor/tesseract/libfontconfig-1.dll
vendor/tesseract/libfreetype-6.dll
vendor/tesseract/libfribidi-0.dll
vendor/tesseract/libgcc_s_seh-1.dll
vendor/tesseract/libgif-7.dll
vendor/tesseract/libgio-2.0-0.dll
vendor/tesseract/libglib-2.0-0.dll
vendor/tesseract/libgmodule-2.0-0.dll
vendor/tesseract/libgobject-2.0-0.dll
vendor/tesseract/libgraphite2.dll
vendor/tesseract/libharfbuzz-0.dll
vendor/tesseract/libiconv-2.dll
vendor/tesseract/libicudt75.dll
vendor/tesseract/libicuin75.dll
vendor/tesseract/libicuuc75.dll
vendor/tesseract/libidn2-0.dll
vendor/tesseract/libintl-8.dll
vendor/tesseract/libjbig-0.dll
vendor/tesseract/libjpeg-8.dll
vendor/tesseract/libleptonica-6.dll
vendor/tesseract/libLerc.dll
vendor/tesseract/liblz4.dll
vendor/tesseract/liblzma-5.dll
vendor/tesseract/libopenjp2-7.dll
vendor/tesseract/libpango-1.0-0.dll
vendor/tesseract/libpangocairo-1.0-0.dll
vendor/tesseract/libpangoft2-1.0-0.dll
vendor/tesseract/libpangowin32-1.0-0.dll
vendor/tesseract/libpcre2-8-0.dll
vendor/tesseract/libpixman-1-0.dll
vendor/tesseract/libpng16-16.dll
vendor/tesseract/libpsl-5.dll
vendor/tesseract/libsharpyuv-0.dll
vendor/tesseract/libssh2-1.dll
vendor/tesseract/libstdc++-6.dll
vendor/tesseract/libtesseract-5.dll
vendor/tesseract/libthai-0.dll
vendor/tesseract/libtiff-6.dll
vendor/tesseract/libunistring-5.dll
vendor/tesseract/libwebp-7.dll
vendor/tesseract/libwebpmux-3.dll
vendor/tesseract/libwinpthread-1.dll
vendor/tesseract/libzstd.dll
vendor/tesseract/zlib1.dll
