# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# =========================
# Build / Packaging
# =========================
build/
dist/
#*.spec

# PyInstaller cache
*.manifest
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
.Pointer_study/

# =========================
# Executables
# =========================
*.exe
*.dll
*.so
/Pointer_study
